{{define "addeditcomment"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add or Edit a Comment</title>
    <!-- <link rel="icon" href="/images/delicious.png"> -->
    <style>
        body {
            font-family: sans-serif;
            box-sizing: border-box;
            margin: 0;
            line-height: 1.5;
            background-color: white;
            color: #333;
        }
    </style>
</head>
<body>
<header>
    {{if .CommentFound}}
        <h1>Edit Comment</h1>
    {{else}}
        <h1>New Comment</h1>
    {{end}}
</header>
<main>
    <form method="POST" action="/services/{{.ServiceKey}}/posts/{{.PostKey}}/comments">
        {{if .CommentFound}}
        <input type="hidden" name="commentId" value="{{.Comment.Id}}">
        {{end}}
{{/*        email*/}}
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{if .UserFound}}{{.User.Email}}" required pattern=".+@.+"
               autocapitalize="off">
{{/*        name*/}}
{{/*        website*/}}
{{/*        comment*/}}

    </form>
</main>
</body>
</html>
{{end}}
