{{define "admin-dashboard"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <!-- <link rel="icon" href="/images/delicious.png"> -->
  <!-- <link rel="stylesheet" href="/css/pico.classless.min.css"> -->
  <link rel="stylesheet" href="/css/main.css">
  <script src="js/components.js"></script>
</head>
<body>
<header>
  <h1>Admin Dashboard</h1>
  {{range .Success}}
  <p class="toast success">
      {{.}}
  </p>
  {{end}}
  {{range .Error}}
  <p class="toast error">
      {{.}}
  </p>
  {{end}}
  <nav>
    <ol>
      <li><a href="/admin/comments">Show All Comments</a></li>
      <li><a href="/admin/comments?showStatus=pending-authentication">Show Comments Pending Authentication</a></li>
      <li><a href="/admin/comments?showStatus=pending-approval">Show Comments Pending Approval</a></li>
      <li><a href="/admin/comments?showStatus=approved">Show Approved Comments</a></li>
      <li><a href="/admin/comments?showStatus=rejected">Show Rejected Comments</a></li>
    </ol>
  </nav>
</header>
<main>
  <dl class="comments">
    {{range .Comments}}
        <dt class="{{if eq .Status 1}}pending-authentication{{end}}{{if eq .Status 2}}pending-approval{{end}}{{if eq .Status 3}}approved{{end}}{{if eq .Status 4}}rejected{{end}}">
            <div class="byline">
              <span class="author">
                {{if .Name}}{{.Name}}{{else}}Anonymous{{end}}
                {{if .Website}}
                  , <a href="{{.Website}}">{{.Website}}</a>
                {{end}}
                </span>, <time datetime="{{.CreatedAt.Format "2024-01-01T00:00:00Z"}}">{{.CreatedAt.Format "Jan 02, 2006"}}</time>
            </div>
            <div class="badge-actions">
              {{if eq .Status 1}}
                <span class="badge pending-authentication" role="status">Pending Authentication</span>
              {{else if eq .Status 2}}
                <span class="badge pending-approval" role="status">Pending Approval</span>
              {{else if eq .Status 3}}
                <span class="badge approved" role="status">Approved</span>
              {{else if eq .Status 4}}
                <span class="badge rejected" role="status">Rejected</span>
              {{end}}
              <div class="actionbar">
                {{if or (eq .Status 1) (eq .Status 2)}}
                <action-confirmation actionName="Approve" actionUrl="/admin/comments/{{.Id}}/approve" directionLeftRight="false"></action-confirmation>
                {{end}}
                <action-confirmation actionName="Delete" actionUrl="/admin/comments/{{.Id}}/delete" directionLeftRight="false"></action-confirmation>
              </div>
            </div>
        </dt>
        <dd>{{.Comment}}</dd>
    {{end}}
</dl>
</main>
</body>
</html>
{{end}}
