{{define "title"}}Admin Login{{end}}

{{define "bodyClass"}}adminlogin{{end}}

{{define "content"}}
<main>
    <h1>Admin Login</h1>
    <form action="/admin" method="GET">
        <p>
            Logging in as an admin will allow you to approve or delete comments. This login requires an admin account registered with the OIDC provider.
            When you login you will be redirected to the OIDC provider to authenticate.
        </p>
        <button type="submit">Login as Admin with OIDC</button>
    </form>
</main>
{{end}}
    
{{define "adminlogin"}}
{{template "layout" .}}
{{end}}
