{{define "title"}}Post Comments{{end}}

{{define "bodyClass"}}postcomments{{end}}

{{define "content"}}
<header>
  {{range .Data.Success}}
  <p class="toast success">
      {{.}}
  </p>
  {{end}}
  <nav>
    <a href="/services/{{.Data.ServiceKey}}/posts/{{.Data.PostKey}}/commentform">Add new comment</a>
  </nav>
</header>
<main>
<dl class="comments">
  {{range .Data.Comments}}
    <dt>
      <span class="author">
        {{if .Website}}
          <a href="{{.Website}}" target="_blank">{{if .Name}}{{.Name}}{{else}}Anonymous{{end}}</a>
        {{else}}
          {{if .Name}}{{.Name}}{{else}}Anonymous{{end}}
        {{end}}
      </span>
      ·
      <time datetime="{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}">
        {{.CreatedAt.Format "Jan 2, 2006 at 15:00"}}
      </time>
      {{if eq $.Data.User.Id .UserId}}
        ·
        <a href="/users/{{$.Data.User.Id}}/comments/{{.Id}}/edit">Modify</a>
      {{end}}
    </dt>
    <dd>{{.Comment}}</dd>
  {{end}}
</dl>
</main>
{{end}}

{{define "postcomments"}}
{{template "layout" .}}
{{end}}
