{{define "postcomments"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comments</title>
  <!-- <link rel="icon" href="/images/delicious.png"> -->
  <link rel="stylesheet" href="/css/pico.classless.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
  <h1>Comments</h1>
  <a href="/services/{{.ServiceKey}}/posts/{{.PostKey}}/commentform">Add new Comment</a>
  {{if gt .UserId -1}}
    <a href="/users/{{.UserId}}/comments">Manage Your Comments</a>
  {{else}}
    <a href="/userauthentication">Login to Manage Your Comments</a>
  {{end}}
</header>
<main>
<dl class="comments">
  {{range .Comments}}
    <dt>
      <span class="author">
        {{if .Website}}
          <a href="{{.Website}}">{{if .Name}}{{.Name}}{{else}}Anonymous{{end}}</a>
        {{else}}
          {{if .Name}}{{.Name}}{{else}}Anonymous{{end}}
        {{end}}
      </span>
      <time datetime="{{.CreatedAt}}">{{.CreatedAt}}</time>
        {{if eq $.UserId .UserId}}
          <a href="/users/{{$.UserId}}/comments/{{.Id}}/edit">Modify</a>
        {{end}}
    </dt>
    <dd>{{.Comment}}</dd>
  {{end}}
</dl>
</main>
</body>
</html>
{{end}}
