{{define "title"}}User Authentication{{end}}

{{define "bodyClass"}}userauthentication{{end}}

{{define "content"}}
<header>
</header>
<main>
    <h1>Request Login Link</h1>
    {{range .Data.Error}}
    <p class="toast error">
        {{.}}
    </p>
    {{end}}
    {{range .Data.Success}}
    <p class="toast success">
        {{.}}
    </p>
    {{end}}
    <form action="/userauthentication/" method="POST">
        <p class="documentation">
            In order to manage your comments you need to login.
        </p>
        <p class="documentation">
            You can request an email with a link that will allow you to login to this service.
        </p>
        <p class="documentation">
            These links expire after 15 minutes so make sure to open it before that time. You can request a
            new one at any time.
        </p>
        <label>Email Address <span aria-label="required">*</span>
            <input type="email" name="email" autocapitalize="off" required pattern=".+@.+" autofocus {{if .Data.EmailAddress}}value="{{.Data.EmailAddress}}"{{end}}>
        </label>
        <button type="submit">Request Authentication Code</button>
    </form>
</main>
{{end}}

{{define "userauthentication"}}
{{template "layout" .}}
{{end}}
