{{define "title"}}Your Comments{{end}}

{{define "bodyClass"}}usercomments{{end}}

{{define "content"}}
<header>
    <h1>Your Comments</h1>
</header>
<main>
    <dl class="comments">
        {{range .Data.Comments}}
            <dt>
                <span class="author">
                {{if .Website}}
                    <a href="{{.Website}}">{{if .Name}}{{.Name}}{{else}}Anonymous{{end}}</a>
                {{else}}
                    {{if .Name}}{{.Name}}{{else}}Anonymous{{end}}
                {{end}}
                </span>
                <time datetime="{{.CreatedAt}}">{{.CreatedAt}}</time>
                {{if eq .Status 1}}
                    <div class="comment-status pending-user" title="This comment has not been confirmed by you. If you want this to be seen by the admin for approval you should confirm the comment. Alternatively you can also delete your comment.">
                        <span class="status-icon"></span>
                        <span>Awaiting Your Confirmation</span>
                    </div>
                {{end}}
                {{if eq .Status 2}}
                    <div class="comment-status pending-admin" title="This comment is awaiting administrator approval.">
                        <span class="status-icon"></span>
                        <span>Awaiting Admin Review</span>
                    </div>
                {{end}}
                {{if eq .Status 3}}
                    <div class="comment-status approved" title="This comment has been approved by the administrator and will be displayed.">
                        <span class="status-icon"></span>
                        <span>Approved</span>
                    </div>
                {{end}}
                {{if eq .Status 4}}
                    <div class="comment-status rejected" title="This comment has been rejected by the administrator and will not be displayed.">
                        <span class="status-icon"></span>
                        <span>Rejected</span>
                    </div>
                {{end}}
                <div class="actionbar">
                    {{if ne .Status 3}}
                    <a href="/users/{{$.Data.User.Id}}/comments/{{.Id}}/edit">Modify</a>
                    {{end}}
                    {{if eq .Status 1}}
                    <action-confirmation actionName="Confirm Comment" actionUrl="/users/{{$.Data.User.Id}}/comments/{{.Id}}/confirm"></action-confirmation>
                    {{end}}
                    <action-confirmation actionName="Delete Comment" actionUrl="/users/{{$.Data.User.Id}}/comments/{{.Id}}/delete"></action-confirmation>
                </div>
            </dt>
            <dd>{{.Comment}}</dd>
        {{end}}
    </dl>
</main>
{{end}}

{{define "usercomments"}}
{{template "layout" .}}
{{end}}
